[build]
  # Run the React build inside the frontend folder
  command = "npm run build"
  # Publish the compiled React app
  publish = "library_frontend/library-time-sheet-frontend/build"

# Rule 2: Send everything else to the React app
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
