[build]
base = "library_frontend/library-time-sheet-frontend"
command = "npm run build"
publish = "build"

# Rule 2: Send everything else to the React app
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
